/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.rubric-text, .liturgical-text, .person-text, .text-row{
  font-family: Georgia, 'Times New Roman', Times, serif!important;
}
.text-row:hover{
  background-color:#f6f6f6;
}
.text-row h4{
  position:absolute;
  top:0;
  left:-5rem;
  font-size: .75rem;
  color:darkblue;
  display: none;
  width: 5rem;
}
.text-row:hover h4{
  display:block;
}
.person-text{
  
  margin: 1em 0 0 0;
  font-weight: bold;
}
.info-column button{
  margin: .25rem;
}
.bible-ref{
  font-size:.57rem;
  font-style: italic;
  color:#555;
}

.rubric-text{
  margin: 1em 0 0 0;
  font-size:.875rem;
  color:red;
  font-style: italic;
}

.liturgical-text{
  margin: .5rem 0 .5rem 0;
  font-size: 1.25rem;
  text-align: justify;
}
.error-text{
  font-size: .5rem;
  font-weight: bold;
  color:red;

}
h1, h2{
  text-align: center;
}
h1{
  font-size: 4rem;
  margin:3rem;
}
h2{
  text-decoration: underline;
  font-size: 3rem;
}